<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 로그 파일 경로 및 이름 설정 -->
    <property name="LOG_TEMP" value="./logs"/>
    <!-- 로그 패턴에 색상 적용 %clr(pattern){color} -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <!-- 로그 패턴 설정 -->
    <property name="LOG_PATTERN"
              value="[%d{yyyy-MM-dd HH:mm:ss, ${logback.timezone:-Asia/Seoul}}:%-3relative] %clr(%-5level) %clr(${PID:-}){magenta} %clr(---){faint} [%thread{10}, %X{traceId:-}, %X{spanId:-}] %boldWhite([%C.%M:%yellow(%L)]) : %cyan(%logger{20}) : %msg%n "/>

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <springProfile name="!(prod|develop)">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="(prod|develop)">
        <property name="INFO_FILE" value="${LOG_TEMP}/spring.log}"/>
        <property name="ERROR_FILE" value="${LOG_TEMP}/spring_error.log}"/>

        <include resource="./logback/info-file-appender.xml"/>
        <include resource="./logback/error-file-appender.xml"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="INFO_LOG"/>
            <appender-ref ref="ERROR_LOG"/>
        </root>
    </springProfile>
</configuration>